{% extends 'Common/base.html' %}

{% block body %}

<style>
    body {
        background-color: #f4f4f4;
    }
    
    .card {
        transition: transform 0.2s;
    }
    
    .card:hover {
        transform: scale(1.02);
    }
    
    .search-bar .input-group {
        width: 100%;
    }
    
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="container mt-5">
    <h1 class="text-center mb-4">My Created Feed</h1>
   
    <div class="job-list">
        {% for i in Job %}
        <div class="card mb-3">
            <div class="card-body">

                <h2 class="card-title">{{ i.job_title }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">Company: {{ i.company_name }}</h6>
                <p class="card-text">Location: {{ i.location }}</p>
                <p class="card-text">Salary: ${{ i.salary|default:"Not specified" }}</p>
                <p class="card-text">Employment Type: {{ i.employment_type }}</p>
                <p class="card-text">Deadline: {{ i.application_deadline|date:"F j, Y" }}</p>
                <p class="card-text">Posted Date: {{ i.posted_date|date:"F j, Y" }}</p>
                <p class="card-text">Description: {{ i.description }}</p>
                <p class="card-text">Username: {{ i.user.username }}</p>

                
                {% if request.user.user_type == 'recruiter' %}
                    
                <a href="  {% url 'editJob' i.id %}  " class="btn btn-primary">Edit Now</a>
                <a href="  {% url 'deleteJob' i.id %}  " class="btn btn-primary">Delete Now</a>
                <a href="  {% url 'applicantList' i.id %}  " class="btn btn-primary">Applicants</a>
                <a href="  {% url 'message_list' i.id %}  " class="btn btn-primary">Message List</a>
                {% endif %}
                    
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="script.js"></script>

{% endblock body %}
